body {
    background: linear-gradient(to right, #e6f7ff, #ffffff);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    width: 100%;
    max-width: 450px;
    background-color: #ffffff;
    border-radius: 16px;
}

h2 {
    color: #007bff;
}
